<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post">
            <input type="text" name="ingredients" placeholder="Введите сырье" />
            <input type="number" name="quantity" placeholder="Введите количество">
            <input type="text" name="date" placeholder="Введите дату">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="ingredients">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Найти</button>
    </form>
    {{#requests}}
    <div>
        <b>{{id}}</b>
        <span>{{ingredients}}</span>
        <i>{{quantity}}</i>
        <span>{{date}}</span>
        <strong>{{authorName}}</strong>
    </div>
    {{/requests}}
</body>
</html>